#!ini
[DEFAULT]
data-provider = basic-leaf256
include = $HERE/../defaults.cfg

[train]
layer-def = $HERE/layers.cfg
layer-params = $HERE/params.cfg
data-path = /data2/ImageNet/batches/one_big_net/
train-range = 1-10
test-range = 11-20
save-path = $HERE/saves
give-up-epochs = 500
test-freq = 50 

[show]
train-range = 1-20
test-range = 21-30

[run]
f = $HERE/saves/

[dataset]
output-path = /data2/ImageNet/batches/one_big_net/
batch-size = 128
size = (256, 256)
min_size = (128, 128)
transform_type = fitted
channels = 3
# MongoDB Query Information
xml_query = 0
class_image_thres = 2000
# Note this defaults to None, and 0.0
# limit_by_component = Leaf
# component_prob_thres = 0.0
