#!ini
[DEFAULT]
data-provider = basic-leaf256
include = $HERE/../defaults.cfg

[train]
layer-def = $HERE/layers.cfg
layer-params = $HERE/params.cfg
data-path = /data2/leafdb/batches/flower-multicrop-s256-b128
train-range = 1-85
test-range = 86-102
save-path = $HERE/saves
give-up-epochs = 500
test-freq = 25
always-save = 1

[show]
train-range = 1-85
test-range = 86-102

[run]
f = $HERE/saves/ConvNet__2014-02-13_00.49.02/13.30

[dataset]
input-path = /data2/leafdb/train
output-path = /data2/leafdb/batches/flower-multicrop-s256-b128
batch-size = 128
pattern = *.jpg
size = (256, 256)
min_size = (128, 128)
transform_type = multi-crop
# can be multi-crop, fitted, or scaled
channels = 3
meta_data_file_ext = .xml
label_data_field = Species
limit_by_tag = Content
limit_to_tag = Flower
